In [26]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

fruits_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

# Determine the number of elements in fruits.
fruits_series.size

# Rev can use .shape too

17

In [5]:
# 2. Output only the index from fruits.
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [6]:
# 3. Output only the values from fruits.
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [7]:
# 4. Confirm the data type of the values in fruits.
fruits_series.dtype

dtype('O')

In [8]:
# 5. Output only the first five values from fruits. Output the last three values. Output two random values from fruits.
fruits_series.head(5)

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [17]:
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [18]:
fruits_series.sample(2)

1     mango
6    tomato
dtype: object

In [9]:
# 6. Run the `.describe()` on fruits to see what information it returns when called on a  Series with string values.
fruits_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [19]:
# 7. Run the code necessary to produce only the unique string values from fruits.
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [12]:
# 8. Determine how many times each unique string value occurs in fruits.
fruits_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [22]:
# 9. Determine the string value that occurs most frequently in fruits.
fruits_series.value_counts().head(1)

# Rev fruits.value_counts().nlargest(n = 1)
# fruits.value_counts().idmax()

kiwi    4
dtype: int64

In [25]:
# 10. Determine the string value that occurs least frequently in fruits.
fruits_series.value_counts().tail(1)
# Rev fruits.value_counts().nsmallest(n = 1, keep = 'all')
# fruits.value_counts().idmax()

papaya    1
dtype: int64

In [28]:
# Exercises Part II
# Explore more attributes and methods while you continue to work with the fruits Series.

# 1. Capitalize all the string values in fruits.

fruits_series.str.upper()

0                 KIWI
1                MANGO
2           STRAWBERRY
3            PINEAPPLE
4           GALA APPLE
5     HONEYCRISP APPLE
6               TOMATO
7           WATERMELON
8             HONEYDEW
9                 KIWI
10                KIWI
11                KIWI
12               MANGO
13           BLUEBERRY
14          BLACKBERRY
15          GOOSEBERRY
16              PAPAYA
dtype: object

In [35]:
# 2. Count the letter "a" in all the string values (use string vectorization).
fruits_series.str.count('a').sum()

14

In [ ]:
# 3. Output the number of vowels in each and every string value.

In [ ]:
# 4. Write the code to get the longest string value from fruits.

In [ ]:
# 5. Write the code to get the string values with 5 or more letters in the name.

In [ ]:
# 6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [ ]:
# 7. Write the code to get only the string values containing the substring "berry".

In [ ]:
# 8. Write the code to get only the string values containing the substring "apple".

In [ ]:
# 9. Which string value contains the most vowels?

In [ ]:
# Exercises Part III
# Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

#     'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
# 1. Which letter occurs the most frequently in the letters Series?

In [ ]:
# 2. Which letter occurs the Least frequently?

In [ ]:
# 3. How many vowels are in the Series?

In [ ]:
# 4. How many consonants are in the Series?

In [ ]:
# 5. Create a Series that has all of the same letters but uppercased.

In [ ]:
# 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.

In [ ]:
n =  ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']

# 7. What is the data type of the numbers Series?

In [ ]:
# 8. How many elements are in the number Series?

In [ ]:
# 9. Perform the necessary manipulations by accessing Series attributes and methods to convert the numbers Series to a numeric data type.

In [ ]:
# 10. Run the code to discover the maximum value from the Series.

In [ ]:
# 11. Run the code to discover the minimum value from the Series.

In [ ]:
# 12. What is the range of the values in the Series?

In [ ]:
# 13. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.

In [ ]:
# 14. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.

In [ ]:
# Use pandas to create a Series named exam_scores from the following list:

#     [60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78]
# 15. How many elements are in the exam_scores Series?

In [ ]:
# 16. Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.

In [ ]:
# 17. Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

In [ ]:
# 18. Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.

In [ ]:
# 19. Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.

In [ ]:
# 20. Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.

In [ ]:
# More Practice
# Revisit the exercises from https://gist.github.com/ryanorsinger/f7d7c1dd6a328730c04f3dc5c5c69f3a.

# After you complete each set of Series exercises, use any extra time you have to pursue the challenge below. You can work on these in the same notebook or file as the Series exercises or create a new practice notebook you can work in a little every day to keep your python and pandas skills sharp by trying to solve problems in multiple ways. These are not a part of the Series exercises grade, so don't worry if it takes you days or weeks to meet the challenge.

# Challenge yourself to be able to...

# solve each using vanilla python.

# solve each using list comprehensions.

# solve each by using a pandas Series for the data structure instead of lists and using vectorized operations instead of loops and list comprehensions.